<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appenfermedades">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppEnfermedades">
        <activity
            android:name=".ViewEscala13"
            android:exported="false" />
        <activity
            android:name=".ViewQuestion13"
            android:exported="false" />
        <activity
            android:name=".ViewQuestion12"
            android:exported="false" />
        <activity
            android:name=".ViewQuestion11"
            android:exported="false" />
        <activity
            android:name=".ViewQuestion10"
            android:exported="false" />
        <activity
            android:name=".ViewEscala12"
            android:exported="false" />
        <activity
            android:name=".ViewQuestion9"
            android:exported="false" />
        <activity
            android:name=".view_escala1"
            android:exported="false" />
        <activity
            android:name=".ViewQuestion1"
            android:exported="false" />
        <activity
            android:name=".BienvenidaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>